<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add Patient</h1>
<form action="#" th:action="@{/addpatient}" th:object="${addpatient}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Gender: <input type="text" th:field="*{gender}" /></p>
    <p>Date Of Birth: <input type="date" th:field="*{dayOfBirth}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>